// fonts 
$main-font: var(--font-family); //'Bitter', serif;

// media querys
$phone: 488px;
$tablet: 768px;
$desktop: 1024px;

// colors 
$bg-color: var(--surface-b);
$txt-c: var(--text-color);
$primary-c: var(--primary-color);
$secondary-c: var(--secondary-color);
$black: #000;
$white: #fff;
$gray-light: #f5f5f5;
$brown-light: #EBE7DE;

// units
$separtion: 5rem;